.Music {
    .Music__slider--artists {
        .SliderInner__subtitle {
            text-align: center;
        }

        .SliderInner__img {
            border-radius: 50%;
        }
    }

    &__header {
        display: flex;
        align-items: center;

        .SearchBar__logo {
            
        }
    }
}