.header__menu {
    display: flex;
    align-items: center;
    gap: 0 30px;
    // justify-content: center;
    padding: 16px 95.5px;
    background-color: rgb(30, 23, 14);
    .Menu {
        &__list {
            display: flex;
            gap: 0 23px
        }
        &__link {
            font-size: 23px;
        }
        .active {
            color: rgb(224, 74, 74);
            text-decoration: underline;
        }
    }
}