.ScreenMusicCover {
    &__img {
        width: 196px;
        height: 196px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 12px;
    }

    &__subtitle {
        text-align: left;
        margin-bottom: 7px;
    }
}