.MusicSingle {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 77px;

    &__cover-block {}

    &__playlist li {
        list-style: none;
        text-align: left;
    }


}