.SearchBar {
    display: flex;
    align-items: center;

    &__input {
        width: 501.14px;
        height: 48px;
        border: 1px solid #3D464D;
        border-radius: 6px 0px 0px 6px;
        background-color: #151A1F;
        padding: 14px 17px;
    }

    &__button {
        width: 48px;
        height: 48px;
        // background: url(../../../../../public/img/buttons/button_search.svg)
        background-color: #3D464D;
        border-radius: 0px 6px 6px 0px;
    }
}