@font-face {
  font-family: "GothicRus";
  src: url(../public/font/GothicRus.ttf);
}

@font-face {
  font-family: "FrakturOmnv1";
  src: url(../public/font/FrakturOmnv1.otf);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
  text-decoration: none;
  color: #fff;
  /* background-image: linear-gradient(to right,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.921) 51%,
      rgba(0, 0, 0, 0.303) 100%),
    url("../public/img/background.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* min-height: 100vh; */
}

