@font-face {
  font-family: "GothicRus";
  src: url(../public/font/GothicRus_Medium.ttf);
}


html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #252525;
  color: #F7F5F5;
}
li {
  list-style: none;
}