@font-face {
  font-family: "GothicRus";
  src: url('../public/font/GothicRus.ttf');
}

@font-face {
  font-family: "FrakturOmnv1";
  src: url('../public/font/FrakturOmnv1.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #252525;
  color: #F7F5F5;
}
li {
  list-style: none;
}